---
import { HOME } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<h1 class="text-5xl font-bold">{HOME.TITLE}</h1>
	<p class="text-lg">{HOME.DESCRIPTION}</p>
</Layout>
